@use "./variables" as *;

.app-form-control {
  display: block;
  width: 100%;
  border: 1px solid #e0e0e0;
  transition: border-color 0.2s;
  &:focus {
    outline: none;
    border: 2px solid #543c97;
  }
  &__textarea {
    border-radius: $size-base * 2;
    height: $size-base * 26;
    padding: $size-base * 2;
    resize: none;
  }
}
