$size-base: 4px;

$indentationSteps: 0, 8, a;

$color-bg: #fff0f0;
$color-text: #201f1f;

$fontSize-largest: 1.5rem; // 24px
$fontSize-normal: 0.875rem; // 14px

$fontWeight-normal: 400;

$screen-sm: 768px;
